@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: "#F8F9FB";
  width: 100%;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section {
  height: 100%;
  padding: 80px 32px;
}

.container {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 131px;
  height: 51px;
  padding-right: 18px;
  padding-bottom: 18px;
  align-self: flex-end;
}

.logo-img {
  width: 113px;
  height: 33px;
}

.unsubscribe-card {
  padding: 44px;
  max-width: 706px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgb(198 198 201 / 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
}

.mainHeading {
  font-size: 35px;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
  color: #333;
}

.subText-One {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  text-align: center;
  color: #7e8a9f;
}

.linkBtn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  row-gap: 20px;
}

.primary-linkBtn {
  min-width: 100px;
  max-width: 250px;
  width: auto;
  border-radius: 8px;
  padding: 8px 35px 10px;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #226ef2;
}

.otherLinks-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.social-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.social-icon {
  width: 18px;
  height: 18px;
}

.social-icon:hover {
  cursor: pointer;
}

.subText-Two {
  color: #50555e;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.5%;
}

.tear-svg {
  width: 100%;
  height: 100%;
}

.confirmation-svg-wrapper {
  width: 400px;
  height: 300px;
}
